<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Amazon Bookstore</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <p> **** Amazon Bookstore **** </p>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        <tr th:each="book : ${bookstore.books}">
            <form id="addshoppingcart" action="/shoppingcart"  method="post" >
            <td th:text="${book.title}" name="title"></td>
            <td th:text="${book.author}" name="author"></td>
            <td th:text="${book.publisher}" name="publisher"></td>
            <td th:text="${book.isbn}" name="isbn"></td>
            <td th:text="${book.description}" name="description"></td>
            <td th:text="${book.genre}" name="genre"></td>
            <td th:text="${book.quantity}" name="quantity"></td>
            <td> <input type="submit" value="Add To Cart" class="button"/> </td>
                <td><a th:href="@{/{bookId}/editBook/edit(bookId=${book.id})}">Edit</a></td>
            </form>
        </tr>
    </table>

    <div class="container">
        <h2>ShoppingCart Contents</h2>
        <table id="shoppingcart">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Description</th>
                <th>Genre</th>
                <th>Quantity</th>
            </tr>

        </table>
    </div>

    <br><br>

    <form th:action="@{/editBookstore}" method="post">
        <button id="editBookstoreButton">Edit Bookstore</button>
    </form>
    <script type="text/javascript">
        if (/user/.test(window.location.href)) {
            document.getElementById('editBookstoreButton').style.display = 'none';
        }
    </script>

</body>
</html>
