<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Amazon Bookstore</title>
</head>
<body>
    <p> **** Amazon Bookstore **** </p>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Quantity</th>
        </tr>
        <tr th:each="book : ${bookstore.books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.publisher}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.description}"></td>
            <td th:text="${book.genre}"></td>
            <td th:text="${book.quantity}"></td>
            <td> <form id="addshoppingcart" action="/shoppingcart"  method="post" >
                <input type="submit" value="Add To Cart" class="button"/>
            </form> </td>
        </tr>



    </table>

    <div class="container">
        <h2>ShoppingCart Contents</h2>
        <table id="shoppingcart">
            <tbody id="books">
            </tbody>
        </table>
    </div>

    <div class="checkout">
       <form id="checkoutpage" action="/checkout"  method="post" >
            <input type="submit" value="Checkout" class="button"/>
        </form>
        <table id="checkoutoptions">
            <tbody id="checkout">
            </tbody>
        </table>
    </div>

</body>
</html>