<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Amazon Bookstore</title>
</head>
<body>
<h2>Edit Book</h2>
<form id="editBook" name="editBook" th:action="@{//{bookId}/editBook}" method="post" >
    <table border ="0">
        <tr th:if="${book.id}">
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <td>ISBN:</td>
            <td><input type="text" th:field="*{isbn}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td><input type="text" th:field="*{author}"></td>
        </tr>
        <tr>
            <td>Publisher:</td>
            <td><input type="text" th:field="*{publisher}"></td>
        </tr>
        <tr>
            <td>Genre:</td>
            <td><input type="text" th:field="*{genre}"></td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td><input type="text" th:field="*{quantity}"></td>
        </tr>
    </table>
    <input id="editButton" type="submit" value="Update" class="button"><br><br>
</form>
</body>
</html>
