<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Bookstore</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

    <!-- Upload Books-->
    <h2>Upload Book</h2>
    <form id="addBook" name="addBook" th:action="@{/uploadBook}" method="post" class="container">
        <label>Title:</label><br>
        <input type="text" name="title"><br><br>
        <label>ISBN:</label><br>
        <input type="text" name="isbn"><br><br>
        <label>Description:</label><br>
        <input type="text" name="description"><br><br>
        <label>Author:</label><br>
        <input type="text" name="author"><br><br>
        <label>Publisher:</label><br>
        <input type="text" name="publisher"><br><br>
        <label>Genre:</label><br>
        <input type="text" name="genre"><br><br>
        <label>Quantity:</label><br>
        <select id="quality" form="addBook" class="numbers">
            <script type="text/javascript">
                var select = $(".numbers");
                for (let i=1;i<=100;i++){
                    select.append($('<option></option>').val(i).html(i));
                }
            </script>
            <!--<option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>-->
        </select><br><br>
        <input id="addButton" type="submit" value="Add Book" class="button" ><br><br>
    </form>
    <form th:action="@{/bookstore}" method="post">
        <button>Return to Bookstore</button>
    </form>
    <!-- Edit Books-->

</body>
</html>