<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Bookstore</title>
</head>
<body>

    <!-- Upload Books-->
    <h2>Upload Book</h2>
    <form id="addBook" th:action="@{/uploadBook}" method="post" class="container">
        <label>Title:</label><br>
        <input type="text" name="title"><br><br>
        <label>ISBN:</label><br>
        <input type="text" name="isbn"><br><br>
        <label>Description:</label><br>
        <input type="text" name="description"><br><br>
        <label>Author:</label><br>
        <input type="text" name="author"><br><br>
        <label>Publisher:</label><br>
        <input type="text" name="publisher"><br><br>
        <label>Genre:</label><br>
        <input type="text" name="genre"><br><br>

        <input type="submit" value="Add Book" class="button">
    </form>

    <!-- Edit Books-->

</body>
</html>