<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>If you are a user, please input your username</p>

<form id="addorgetuser" th:action="@{/addOrGetUser}"  method="post" >
    <label>Username:</label><br>
    <input type="text" name="name"><br><br>

    <input id="User" type="submit" value="User" class="button" ><br><br>
</form>

<button onclick="location.href='/owner_homepage'" type="button">Owner</button>

</body>
</html>