<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Amazon Bookstore</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <p> **** Amazon Bookstore **** </p>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Quantity</th>
            <th>Picture</th>
        </tr>
        <tr th:each="book : ${bookstore.books}">
            <form id="addshoppingcart" th:action="@{/shoppingcart}"  method="post" >
                <td> <input type="hidden" name="title" th:text="${book.title}" th:value="${book.title}"/> </td>
                <td><input type="hidden" name="author" th:text="${book.author}" th:value="${book.author}"/> </td>
                <td><input type="hidden" name="publisher" th:text="${book.publisher}" th:value="${book.publisher}" /></td>
                <td><input type="hidden" name="isbn" th:text="${book.isbn}" th:value="${book.isbn}"/></td>
                <td> <input type="hidden" name="description" th:text="${book.description}" th:value="${book.description}"/></td>
                <td> <input type="hidden" name="genre" th:text="${book.genre}" th:value="${book.genre}"/></td>
                <td><input type="hidden" name="quantity" th:text="${book.quantity}" th:value="${book.quantity}"/></td>
                <td> <input type="hidden" name="picture" th:value="${book.picture}"><a th:href="${book.picture}"><img th:src="${book.picture}" width="123" height="168" title="Book" alt="Book"></a> </td>
                <td><a th:href="@{/delete/{isbn}(isbn=${book.isbn})}">Delete</a></td>
            </form>
        </tr>
    </table>

    <br><br>

    <form th:action="@{/editBookstore}" method="post">
        <button id="editBookstoreButton">Edit Bookstore</button>
    </form>
    <script type="text/javascript">
        if (/user/.test(window.location.href)) {
            document.getElementById('editBookstoreButton').style.display = 'none';
        }
    </script>

</body>
</html>