<!-- The sortTable method was taken from: https://www.w3schools.com/howto/howto_js_sort_table.asp -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Amazon Bookstore</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<p> **** Amazon Bookstore **** </p>
<div class="searchBook">
    <form th:action="@{/user_homepage}" method="get">
        <button>Show All Books</button>
        <input type ="hidden" name="userID" th:value="${userID}">
    </form>

    <br>
    <form id="search" th:action="@{/search}"  method="post" >
        <input type="text" placeholder="Search.." name="keyword">
        <input type ="hidden" name="userID" th:value="${userID}">
        <select name="category" form="search">
            <option value="Title">Title</option>
            <option value="Author">Author</option>
            <option value="Publisher">Publisher</option>
            <option value="ISBN">ISBN</option>
            <option value="Description">Description</option>
            <option value="Genre">Genre</option>
        </select>
        <button type="submit">Search</button>
    </form>
</div>
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("allBooks");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
<table id="allBooks">
    <tr>
        <th onclick="sortTable(0)">Title</th>
        <th onclick="sortTable(1)">Author</th>
        <th onclick="sortTable(2)">Publisher</th>
        <th onclick="sortTable(3)">ISBN</th>
        <th onclick="sortTable(4)">Description</th>
        <th onclick="sortTable(5)">Genre</th>
        <th>Quantity</th>
    </tr>
    <tr th:each="book : ${bookstore.books}">
        <form id="addshoppingcart" th:action="@{/shoppingcart}"  method="post" >
            <td> <input type="hidden" name="title" th:text="${book.title}" th:value="${book.title}"/> </td>
            <td><input type="hidden" name="author" th:text="${book.author}" th:value="${book.author}"/> </td>
            <td><input type="hidden" name="publisher" th:text="${book.publisher}" th:value="${book.publisher}" /></td>
            <td><input type="hidden" name="isbn" th:text="${book.isbn}" th:value="${book.isbn}"/></td>
            <td> <input type="hidden" name="description" th:text="${book.description}" th:value="${book.description}"/></td>
            <td> <input type="hidden" name="genre" th:text="${book.genre}" th:value="${book.genre}"/></td>
            <td><input type="hidden" name="quantity" th:text="${book.quantity}" th:value="${book.quantity}"/></td>
            <td> <a th:href="${book.picture}"><img th:src="${book.picture}" width="123" height="168" title="Book" alt="Book"></a> </td>
            <td> <input type ="hidden" name="userID" th:value="${userID}"> </td>
            <td> <input type="submit" value="Add To Cart" class="button"/> </td>
        </form>
    </tr>
</table>



</table>
</div>
</body>
</html>